
.noto-serif {
  font-family: "Noto Serif", serif;
  
}

.inter {
  font-family: "Inter", sans-serif;
  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F8FF;
}

/*nevbar section*/
.nevbar ul li a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(37, 36, 50);
}
.nevbar ul li{
    list-style-type: none;
    
}
.nevbar ul{
    display: flex;
    gap: 48px;

}
#shop, #about{
   color: rgb(137, 135, 161); 
   font-weight: 400;

}
#cart{
    font-weight: 400;
}

.nevbar{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 18px;
    align-items: center;
}
/*banner-section*/
.banner-title h2{
    font-family: "Noto Serif", serif;
    font-weight:700 ;
    font-size: 4rem;
    color: rgb(0, 0, 0);
}
.banner-title h2 span{
    color:rgb(233, 90, 8) ;
}
.banner-description{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    margin-top: 13px;
}
.banner-image img{
    height: 355px;
    width: 570px;

}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}
/*plants section*/
.plant-title {
    font-size: 3.125rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: "Noto Serif", serif;
}
.plant-title  span{
    color: rgb(233, 90, 8);
}
.plant-description{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    margin-top: 13px;
    padding: 0 126px;

}
.plant-title-description{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}
.plant-img img{
    height: 322px;
    width: 100%; 
    margin-bottom: 30px;
}
.plant-name{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size:1.37rem ;
}
.plant-price{
     font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size:1.37rem ;
    margin-bottom: 30px;
}
.to-card{
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(233, 90, 8);
    padding: 19px 87px;
    border: none;
    
}
.plant-all-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    gap: 20px;
    margin-top: 30px;

}
/*flower and plant lover section*/
.flower-title{
    font-size: 3.15rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: "Noto Serif", serif;
}
.flower-description {
    font-size: 1.37rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}
.flower{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    align-items: center;
}
.flower-title-description{
    margin: 39px 0;
}
.flower-title-description ul{
    padding-left: 15px;
}
.flower-badge {
    
    text-align: center;
    margin-bottom: -127px;
    margin-left: -93px;
    z-index: -1;
    margin-top: 84px;
}
.flower-img{
    z-index: -1;
}
/*latest deal section*/
.deal-title{
    font-size: 3.112rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: "Noto Serif", serif;
}
.deal{
    max-width: 1440px;
    text-align: center;
    
    margin: 0 auto;
    margin-top: 133px;
}

/*join section*/
.join{
    background-image: url(./assets/news-letter-bg.png);
    max-width: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
}
.join-ti-email{
    padding: 200px 300px;
    
}
.join-title{
    color:rgb(255, 255, 255);
    font-size: 3.112rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Noto Serif", serif;
}
#email{
    padding: 20px 500px 20px  20px;
    color: rgba(0, 0, 0, 0.5);
    
    
}
#subscribe{
    background-color: rgb(233, 90, 8);
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 20px 60px;
    border: none;
    
    
}
/*footer section*/
.footer{
    max-width: 1440px;

    margin: 0 auto;
    padding: 50px 160px;
}
.footer-content{
    
    display: flex;
    justify-content: space-between;
    
    gap: 110px;
}
.footer-description{
    font-size: 1.37rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
}
.footer-navber1 ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgb(107, 114, 128);
    
    
}
.footer-navber1 ul li{
    list-style-type: none;
    padding: 16px 0;
}
.footer-socials img {
    
    padding-left: 20px;
    text-align: center;
}

















/*media query*/
@media screen and (max-width:576px) {
  #shop, #about, #home{
   display: none;
  }
  .banner{
    flex-direction: column-reverse;
    place-items: center;
    padding-left: 20px;
  }
  .plant-all-card{
    grid-template-columns: repeat(2,1fr);
  }
  .flower{
    flex-direction: column;
    padding: 20px;
    margin-top: 40px;
  }
  
  .flower-badge{
    display: none;
  }
}
