
.noto-serif {
  font-family: "Noto Serif", serif;
  
}

.inter {
  font-family: "Inter", sans-serif;
  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F8FF;
    overflow-x: hidden;
}

/*nevbar section*/
.nevbar ul li a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(37, 36, 50);
}
.nevbar ul li{
    list-style-type: none;
    
}
.nevbar ul{
    display: flex;
    gap: 48px;

}
#shop, #about{
   color: rgb(137, 135, 161); 
   font-weight: 400;

}
#cart{
    font-weight: 400;
}

.nevbar{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 18px;
    align-items: center;
}
/*banner-section*/
.banner-title h2{
    font-family: "Noto Serif", serif;
    font-weight:700 ;
    font-size: 4rem;
    color: rgb(0, 0, 0);
}
.banner-title h2 span{
    color:rgb(233, 90, 8) ;
}
.banner-description{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    margin-top: 13px;
}
.banner-image img{
    height: 355px;
    width: 100%;

}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}
/*plants section*/
.plant-title {
    font-size: 3.125rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: "Noto Serif", serif;
}
.plant-title  span{
    color: rgb(233, 90, 8);
}
.plant-description{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    margin-top: 16px;
    

}
.plant{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
    overflow-x: hidden;
}
.plant-img img{
    height: 322px;
    width: 100%; 
    margin-bottom: 30px;
}
.plant-name{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size:1.37rem ;
}
.plant-price{
     font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size:1.37rem ;
    margin-bottom: 30px;
}
.to-card{
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(233, 90, 8);
    padding: 17px 80px;
    border: none;
    
    
}
.plant-all-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    gap: 15px;
    margin-top: 30px;

}
/*flower and plant lover section*/
.flower-title{
    font-size: 3.15rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: "Noto Serif", serif;
}
.flower-description {
    font-size: 1.37rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}
.flower{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    align-items: center;
    overflow-x: hidden;
    
}
.flower-img {

    width: 100%;
}
.flower-title-description{
    margin: 39px 0;
}
.flower-title-description ul{
    padding-left: 30px;
}
.flower-badge {
    
    text-align: center;
    margin-bottom: -127px;
    margin-left: -93px;
    z-index: -1;
    margin-top: 84px;
}

.flower-img{
    z-index: -1;
}
/*latest deal section*/
.deal-title{
    font-size: 3.112rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: "Noto Serif", serif;
}
.deal-description{
    padding: 0 276px;
}
.deal{
    max-width: 1440px;
    text-align: center;
    
    margin: 0 auto;
    margin-top: 133px;
}
/*offer-section*/
.offer{
    display: flex;
    justify-content: calc(50%);

    gap: 25px;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px ;
    
    overflow-x: hidden;
}
.offer-left-item1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(./assets/deal-bloom.png);
    height: 201px;
    width: 367px;
    background-repeat: no-repeat;
    border-radius: 14px;
    padding: 65px 47px;
    margin-bottom: 25px;
    text-align: center;
    background-position: center;
    
    background-size: cover;
}
.offer-left-item2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(./assets/deal-ana.png);
    height: 201px;
    width: 367px;
    background-repeat: no-repeat;
    border-radius: 14px;
    padding: 65px 47px;
    text-align: center;
    background-position: center;
    
    background-size: cover;
}
.offer-right{
    
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(./assets/deal-zabo.png);
    
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 14px;
    padding: 172px 150px;
    text-align: center;
    background-position: center;
    
    background-size: cover;
}
.offer-title{
   font-size: 20px; 
   font-weight: 700;
   color: rgb(255, 255, 255);
   font-family: "Noto Serif", serif;


}
.offer-title1{
   font-size: 2.3rem; 
   font-weight: 700;
   color: rgb(255, 255, 255);
   font-family: "Noto Serif", serif; 
}
.shop1 , .shop2{
    font-size: 1rem; 
   font-weight: 600;
   color: rgb(255, 255, 255);
   font-family: "Inter", sans-serif;
}
.shop3{
   font-size: 1.75rem; 
   font-weight: 600;
   color: rgb(255, 255, 255);
   font-family: "Inter", sans-serif; 
}

/*join section*/
.join{
    background-image: url(./assets/news-letter-bg.png);
    
    padding: 150px 0;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}
.email-submit{
    display: flex;
    justify-content: center;
    
}

.join-title{
    color:rgb(255, 255, 255);
    font-size: 3.112rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Noto Serif", serif;
}
#email{
    height: 50px;
    width: 600px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    font-family: "Inter", sans-serif;
    padding-left:20px ;
    
}
#subscribe{
    background-color: rgb(233, 90, 8);
    font-weight: 600;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 186px;
    border: none;
    font-family: "Inter", sans-serif;
    
}
/*footer section*/
.footer{
    max-width: 1440px;
    padding: 60px 160px;
    margin: 120px auto;
    overflow-x: hidden;
}
.footer-content{
    
    display: flex;
    justify-content: space-between;
    gap: 110px;
    
}
.footer-description{
    font-size: 1.37rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
}
.footer-navber1 ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgb(107, 114, 128);
    white-space: nowrap
    
    
}
.footer-navber1 ul li{
    list-style-type: none;
    padding: 16px 0;
}
.footer-socials ul li  {
    list-style-type: none;
   
    
}
.footer-socials ul{
     display: flex;
     gap: 20px;
     align-items: center;
}

.display{
    display: none;
}















/*media query*/
@media screen and (max-width:576px) {
  .nevbar{
    padding: 20px;
    margin-top: 50px;
  }
    #shop, #about, #home{
   display: none;
  }
  .banner{
    flex-direction: column-reverse;
    
    
  }
  .banner-title h2{
    font-size: 2rem;
    
  }
  .banner-title{
    padding: 20px;
  }
  .banner-description{
    font-size: 1rem;
    
    
  }
  .banner-image img{
    
    
  }
  .plant{
      margin-top: 50px;
  }
  .plant-title{
     font-size: 2rem; 
  }
  .plant-description{
        font-size: 1rem;
        padding: 0 15px;
  }
  .plant-all-card{
    grid-template-columns: repeat(2,1fr);
    padding: 15px;
    
  }
  .to-card{
    padding:15px 45px ;
  }
  .flower{
    flex-direction: column;
    padding: 15px;
    margin-top: 40px;
  }
  .flower-title{
    font-size: 2rem;
    margin-top: -60px;
  }
  .flower-description{
      font-size: 1rem;
      margin-top: 30px;
  }
  .flower-img img{
    
    width: 100%;
  }
  #fl-des4{
    display: none;
  }
  .offer-right{
    width: 100%;
  } 
  
  
  .flower-badge{
    display: none;
  }
 .join-title{
    font-size: 1.5rem;
  }
  .deal{
    margin-bottom: 30px;
    
  }
  .deal-title{
    font-size: 2rem;
  }
  .join-ti-email{
    
  }
  .deal-description{
    padding: 20px;
   
  }
   .offer{
    flex-direction: column;
    padding: 15px;
    margin-top: 50px;
  }
  .offer-left-item2{
    width: 100%;
    
    border-radius: 0;
  }
  .offer-left-item1{
    width: 100%;
    
  }
  .offer-right{
    
    padding: 65px 42px;
    font-size: 1.37rem;
  }
  .offer-title , .offer-title1 {
    font-size: 1.37rem;
  }
  .shop3{
    font-size: 1rem;
  }
  .email-submit{
     padding: 0 30px;
  }
  #email{
    padding-left: 10px;
    
  }
  .join{
    margin-top: 50px;
  }


  .footer-content{
        flex-direction: column;
        row-gap: 20px;
        place-items: left;
        
  }
  .footer{
    padding: 20px 20px;
    width: 100%;
    margin-top: 50px;
  }
  .footer-logo img{
    height:109px ;
    width: 180px;
  }
}
